# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class



# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version
**.env
**.venv
!.build.env

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VS Code
.vscode/